body{
	font-family: "Myriad Pro", "Comic Sans MS";
	height:100%;
}

ul{
    list-style-type: none;
}

label{
	min-width: 100px;
}

footer{
    clear: both;
    height: 50px;
    text-align: center;
    bottom: 0;
}

footer a{
	background-image: url(footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    display: block;
}

.main{
	font-family: "Myriad Pro", "Comic Sans MS";
	width: 1000px;
	height:100%;
	margin: auto;
}

.chapter-head{
	height: 50px;
	padding: 5px;
	background-repeat: no-repeat;
}

.small-blue-circle{
	background-color: #3d6cb0;
    width: 54px;
    height: 54px;
    border-radius: 54px;
	margin: 2px 0px 0px 2px;
}

.small-blue-ring{
	background-color: white;
    width: 58px;
    height: 58px;
    border-radius: 58px;
	border: 1px solid #3d6cb0;
	float: left;
	margin-left: -4px;
	margin-top: -5px;
}

.chapter-head h2{
	overflow: hidden; 
}

.chapter-head h2:after{
    content: "";
    display: inline-block;
    height: 4px;
    width: 100%;
    margin-right: -100%;
    margin-top: -6px;
    background-color: #3d6cb0;
    vertical-align: middle;
}

.chapter-title{
	font-size: 33px;
	max-width: 100%;
	color: #3d6cb0;
	margin: 0px 6px 0px 69px;
}


/*main start*/
.main-head{
	margin: 67px 0px 64px 0px;
	text-align: center;
}

.blue-circle{
	background-color: #3d6cb0;
    width: 162px;
    height: 162px;
    border-radius: 162px;
	margin: 13px 0px 0px 13px;
}

.blue-ring{
	background-color: white;
    width: 188px;
    height: 188px;
    border-radius: 188px;
	border: 1px solid #3d6cb0;
	margin-left: auto;
	margin-right: auto;
}

.main-head{
	margin-right: 20px;
}

.main-head .main-text{
	font-size: 50px;
	margin: 0px;
}

.main-head .description-text{
	font-size: 42px;
	margin: 0px;
	font-weight: normal;
}

.main-head .usual-text{
	font-size: 20px;
	margin: 0px;
}
/*main end*/


/*profile start*/
.chapter-profile{
	margin: 10px 0px;
}

.chapter-profile .chapter-body .small-text{
	font-size: 13px;
}
/*profile end*/


/*contact start*/
.chapter-contact{
	margin: 10px 0px;
}

.chapter-contact .chapter-body{
	font-size: 17px;
}

.chapter-contact .chapter-body .description-text{
	margin: 0px;
	float: left;
	color: #3d6cb0;
}

.chapter-contact .chapter-body div{
	margin: 10px 0px 10px 0px;
}

.chapter-contact .chapter-body input{
    background: transparent;
    border: 0px;
    overflow: hidden;
	font-size: 16.6px;
}
/*contact end*/


/*skills start*/
.chapter-skills{
	margin: 10px 0px;
}

.chapter-skills .chapter-body .description-text{
	font-size: 20px;
	text-align: center;
	margin: 0px;
}

.chapter-skills .chapter-body ul{
	margin: 5px;
}

.chapter-skills .chapter-body li{
	display: inline-block;
}

.li-blue-circle{
	background-color: #3d6cb0;
}

.li-gray-circle{
	background-color: #e6e6e6;
}

.li-blue-circle,.li-gray-circle{
	width: 16px;
    height: 16px;
    border-radius: 16px;
	margin-right: 4px;
}
/*skills end*/


/*education start*/
.chapter-education{
	margin: 11% 0%;
}

.li-element{
	margin-top: 2%;
}

.li-circle{
	background-color: black;
    width: 16px;
    height: 16px;
    border-radius: 16px;
	margin: 0px;
	float: left;
	margin-top: 5px;
	margin-left: -25px;
}

.li-head .description-text{
	font-size: 21px;
	margin: 0px;
	font-weight: normal;
}

 .chapter-education .li-element b{
	color: #3d6cb0;
}

.li-element .li-body .usual-text{
	font-size: 13px;
	margin: 0px;
}
/*education end*/


/*experience start*/
.chapter-experience{
	margin: 10px 0px;
}

.chapter-experience .li-element .li-head .description-text{
	font-size: 21px;
	margin: 0px;
	margin-right: 5px; 
	color: black;
}
/*experience end*/


/*software start*/
.chapter-software{
	margin: 10px 0px;
}

.chapter-column{
	float: left;
	width: 40%;
}

.chapter-column .chapter-column-content{
	margin: 5px 0px 8px 0px;
	width: 210px;
}

.chapter-column .chapter-column-content .description-text{
	font-size: 20px;
	font-weight: normal;
	margin: 10px 0px 6px 0px;
}

.chapter-column .chapter-column-content div{
	background-color: #e6e6e6;
}

.chapter-column .chapter-column-content div :first-child{
	background-color: #3d6cb0;
}

.progressbar-width-10{
	width: 10%;
}

.progressbar-width-20{
	width: 20%;
}

.progressbar-width-30{
	width: 30%;
}

.progressbar-width-40{
	width: 40%;
}

.progressbar-width-50{
	width: 50%;
}

.progressbar-width-60{
	width: 60%;
}

.progressbar-width-70{
	width: 70%;
}

.progressbar-width-80{
	width: 80%;
}

.progressbar-width-90{
	width: 90%;
}

.progressbar-width-100{
	width: 100%;
}

.chapter-column .chapter-column-content div,.chapter-column .chapter-column-content div :first-child{
	height: 15px;
}
/*software end*/

.main-head, .chapter-profile, .chapter-contact, .chapter-skills, .chapter-education, .chapter-experience, .chapter-software{
	float: left;
	width: 48%;
	padding: 5px;
	margin: 5px;
}

.description-text, .chapter-title, .usual-text, .main-text{
	overflow: hidden;
	text-overflow: ellipsis;
}

.chapter-body .description-text{
	max-width: 100%;
}